<div class="backdrop">
  <nav class="navbar navbar-default navbar-premium-wrapper" role="navigation">
    <ul class="nav navbar-nav navbar-left">
      <li>Upgrade for free!</li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to "Sign Out", session_url, id: "sign-out", method: :delete %></li>
    </ul>
</nav>
  <div id="main" class="container-fluid">

    
    
  </div>

</div>