<div id="home-page-sign-in">
  <div id="bg">
    <img src="<%= asset_path 'background.jpg' %>" alt="">
  </div>
  <div id="main-page-wrapper">
    <h1> Sign In</h1>

    <form action="<%= session_url %>" method="POST">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

    <label for="email">Email</label>
    <input type="text"
    	   name="user[email]"
    	   id="email">
    <br>

    <label for="password">Password</label>
    <input type="password"
    	   name="user[password]"
    	   id="password">
    <br>

    <input type="submit" value="Sign In">

    </form>

    <%= link_to "Or Sign Up Here", new_user_url %>
  </div>
</div>