<div class="notebook-index-header">
  <img 
    src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAARklEQVR42mNgGIQgt7JNtLC27SEQ/8eCH4LkwQoLazt0gQLf0BR8A4mjmFhY1x6IogjIx2p1UU17NUgBiMbrxsK6tmR0MQAuRDZxzemKPwAAAABJRU5ErkJggg==" 
    width="9" 
    height="9">
  Notebooks
  <div class="new-notebook"></div>
</div>
