<div class="notebook-show-title">
  <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAVElEQVR42mNgGFRgyZIlWkuBYNmyZf+JwAcwDAAKXl2+fHkgMZYB7XmIzYAP6DahycPFRg0YUgYA04U3kD4DSh9kGYANDw4DgPRGbAY8IcKAz8h6ACMeaV1Br1iuAAAAAElFTkSuQmCC"> <%= notebook.escape('title') %>
</div>

<div class="note-index-items"></div>