<nav class="navbar navbar-default note-show-nav" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav navbar-left">
      <li><a href="#">Notebooks</a></li>
  </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Share <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Twitter</a></li>
            <li><a href="#">Email</a></li>
            <li class="divider"></li>
            <li><a href="#">Link</a></li>
          </ul>
        <li><a href="#">Info</a></li>

        </li>
      </ul>
  </div>
</nav>


<nav class="navbar navbar-default note-show-nav" role="navigation">
  <div class="navbar-header">
    <ul class="nav navbar-nav navbar-left">
      <li><p class="navbar-text">Created: <%= createdAt %></p>
      <li><p class="navbar-text">Updated: <%= updatedAt %></p>
  </div>
      <ul class="nav navbar-nav navbar-right">
        <li class="delete"><a href="#">Delete post</a></li>

        </li>
      </ul>
  </div>
</nav>
