/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-markdown
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// html {
//   background-image: url(/assets/background.jpg) no-repeat center fixed;
//   -webkit-background-size: cover;
//   -moz-background-size: cover;
//   -o-background-size: cover;
//   background-size: cover;
// }
// body
// {
//     background: url('http://farm3.staticflickr.com/2832/12303719364_c25cecdc28_b.jpg') fixed;
//     background-size: cover;
//     padding: 0;
//     margin: 0;
// }

.wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

form.login
{
    width: 250px;
    margin: 0 auto;
}

form.login input[type="text"], form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login button
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

form.login a
{
    transition: color 0.5s ease;
}

form.login a:hover
{
    color: #2ecc71;
}

.pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

.show-pass-reset
{
    display: block !important;
}

.pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

.pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

.pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

.pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

.pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}
.posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
}

#bg img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

#main-page-wrapper {
  margin: auto;
  position: absolute;
  z-index: 99;
}

#main {
  background-color: #eaedef;
  padding: 0px;
}

.notebook-list {
  background-color: #eaedef;
  padding-right: 0px;
  padding-left: 15px;
  // margin-top: 40px;
}

.new-notebook {
  // background-color: #2dbe60;
  width: 90%;
}

// .notebooks-index-header {
//   background-color: orange;
//   // display: inline-block;
//   position: relative;
//   top: 40px;
//   // margin-top: 40px;
// }

.notebook-index-header {
  min-height: 30px;
  font-size: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 4px;
  font-weight: bold;
  background-color: #f3f5f7;
  margin-left: -15px;
}

.tag-index-header {
  min-height: 30px;
  font-size: 11px;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 4px;
  font-weight: bold;
  background-color: #f3f5f7;
  margin-left: -15px;
}

.notebook-index-item {
  padding-left: 10px;
  margin-left: -15px;
}

.tags-index {
  padding-left: 15px;
  background-color: #eaedef;
  padding-top: 5px;
}

.notebook-tags-wrapper {
  padding-right: 0px;
}

.notebook-index-item:hover {
  background-color: orange;
}

.tag-index-item:hover {
  background-color: #ADADB1;
}

// #logo-search-new-wrapper {
//   position: absolute;
//   height: 51px;
//   width: 100%;
//   left: 0px;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   overflow: hidden;
// }

.navbar-brand {
  // margin-top: -10px;
  // float: left;
  padding: 0px;
  margin-top: 10px;
  min-height: 35px;
  height: 35px;
}

.promo {
  width: 80px;
}

.logo-text {
  float: left;
  font-size: 22px;
  margin-top: 10px;
  color: #5FB336
}
#sign-out {
  padding: 0px;
  padding-right: 15px;
  color: white;
  height: 1px;
}

.main-content {
  background-color: #E1E2E5;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 84px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}

.note-show {
 padding-left: 0px;
}

.note-index-item:hover {
  background-color: #ADADB1
}

.note-index-item {
  border: 1px solid gray;
  padding: 5px;
  min-height: 75px;
  line-height: 155%;
}

.notebook-show {
  background-color: white;
  padding: 0px;
}

.notebook-show-title {
  border: 1px solid gray;
  padding-left: 7px;
  min-height: 35px;
  line-height: 36px;
  font-size: 16px;
}

//TODO: i want height to be a % though, i think... but then scroll stops working
.note-index-items {
  height: 700px;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #404040; //unecessary?
  font-size: 85%;
  // vertical-align: baseline;
}

#note-body {
  height: 500px;
}

.post-edit {
 overflow-y: auto; 
}

.panel-body-wrapper {
  background-color: #f3f5f7;
  padding: 15px;
}

.panel-body {
   background-color: white;
   padding: 0px;
}


.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-premium-wrapper {
  min-height: 32px;
  background-color: #2dbe60;
  color: white;
  font-weight: bold;
  padding: 5px;
}



.note-show-nav {
  padding-right: 15px;
  min-height: 1px;
  height: 40px;
  font-size: 12px;
  // height: 40px; //why does stuff get shifted to the right when i add this height??
}

.new-note {
  margin-top: 8px;
}

.note-index-item-title {
  font-weight: bold;
}

.note-show-nav .navbar-text {
  // margin-top: 5px;
  // margin-bottom: 5px;
  height: 10px;
  margin: 10px;
}

.selected-item{
  background-color: #ecf0f3;
}

.form-control.search {
  width: 310px;
  height: 25px;
  display: block;
}

.navbar-nav .top-note-header {
  padding: 5px;
}

.post-edit .form-group-wrapper {
  background-color: orange; //#f3f5f7
  margin-bottom: 0px;
}

.timestamps {
  min-height: 1px;
  height: 40px;
}

.form-group {
  margin-bottom: 0px;
}
