/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-markdown
 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#main {
  background-color: #eaedef;
  padding: 0px;
}

.notebook-list {
  background-color: #eaedef;
  padding-right: 0px;
}

.notebook-show {
  background-color: white;
  padding: 0px;
}

// #logo-search-new-wrapper {
//   position: absolute;
//   height: 51px;
//   width: 100%;
//   left: 0px;
//   top: 0px;
//   right: 0px;
//   bottom: 0px;
//   overflow: hidden;
// }

.navbar-brand {
  margin-top: -15px;
}

.main-content {
  background-color: #E1E2E5;
  position: absolute;
  overflow: hidden;
  left: 0px;
  top: 84px;
  right: 0px;
  bottom: 0px;
  height: 100%;
}

.note-show {
 // min-height: 500px;
}

// this doesn't work once i've clicked on something
.note-index-item:hover {
  background-color: #ADADB1
}

.note-index-item {
  border: 1px solid gray;
  padding: 5px;
}

//TODO: i want height to be a % though, i think... but then scroll stops working
.note-index-items {
  height: 700px;
  overflow-y: auto;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  color: #404040; //unecessary?
  font-size: 85%;
  // vertical-align: baseline;
}

#note-body {
  height: 500px;
}

.post-edit {
 overflow-y: auto; 
}

.panel-body {
   background-color: white;
}

.notebook-show-title {
  border: 1px solid black;
}

.notebooks-index-header {
  background-color: orange;
  // display: inline-block;
  position: relative;
  top: 40px;
  // margin-top: 40px;
}

.navbar {
  margin-top: 0px;
  margin-bottom: 0px;
}

.navbar-premium-wrapper {
  min-height: 32px;
  background-color: #2dbe60;
  color: white;
  font-weight: bold;
  padding: 5px;
}

.notebook-list {
  margin-top: 40px;
}

.note-show-nav {
  height: 20px;
  padding-right: 15px;
}

.new-note {
  margin-top: 8px;
}

// .testtest {
//   margin-top: 20px;
// }